
/* Rain picture for background file */
body {
    background-image: url("Assets/rain\ street.jpeg");
    background-size: cover;
    font-family: 'Lobster', cursive;
}

nav {
    background-color: aqua;
}

main {
    margin-top: 100px;
    background-color: aqua;
}
/* border for student image */
img {
    border: black;
    border-width: medium;
    border-style: solid;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

@media (min-width: auto){
    main {
        float: center;
    }
}
h2 {
    font-size: 60px

}
p {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
}

