
/* Rain picture for background file */
body {
    background-image: url("Assets/rain\ street.jpeg");
    background-size: cover;
}

nav {
    background-color: azure;
}

main {
    margin-top: 100px;
    background-color: azure;
}
/* border for student image */
img {
    border: black;
    border-width: medium;
    border-style: solid;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

@media (min-width: auto){
    main {
        float: center;
    }
}